*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  font-family: 'Bellota Text', cursive;
  width: 100%;
  height: 100%;
  background-color: #53271C;
}

header {
  height: 80vh;
  width: 100%;
  background: url('img/gnome_banner.jpg') no-repeat center center fixed;
  position: relative;
}

h1 {
  font-size: 250%;
}

h2 {
  color: white;
}

p {
  color: white;
}

header > h1 {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  color: white;
  transform: translateX(-50%);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
}

header > h3 {
  font-style: italic;
  opacity: 0.9;
  font-family: 'Permanent Marker', cursive;
  color: white;
  text-align: center;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
}

header > figure > img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 350px;
  height: 350px;

}

main, footer {
  width: 80%;
  margin: 0 auto;
}

.gerechtenlijst {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  padding: 50px 0;
}

.gerecht{
  padding-top: 20px;
}

/* Filter buttons */
.filter_buttons{
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 0 2rem;
}

/*-----------Filter Buttons ----------*/
.buttonContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}

.buttonContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkboxCustom {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.buttonContainer:hover input ~ .checkboxCustom {
  background-color: #ccc;
}

.buttonContainer input:checked ~ .checkboxCustom {
  background-color: #2196F3;
}

.checkboxCustom:after {
  content: "";
  position: absolute;
  display: none;
}

.buttonContainer input:checked ~ .checkboxCustom:after {
  display: block;
}

.buttonContainer .checkboxCustom:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

main > p {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 130%;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

footer > figure > img {
  width: 100px;
  height: 100px;
  opacity: 0.5;
}

footer > h2{
  opacity: 0.7;
  font-style: italic;
  font-size: 80%;
  margin: 10px 10px;
  grid-column-start: 3;
}


.gerecht {
  width: 100%;
  height: 250px;
  transition: 0.2s all;
  object-fit: cover;
}

.gerecht:hover {
  transform: scale(1.1) translateY(10px);
}

@media only screen and (max-width: 1000px){
  header > h1 {
    top: 10%;
    left: 70%;
    font-size: 200%;
  }

  header > h3 {
    top: 80%;
    left: 70%;
  }

  .gerechtenlijst {
    grid-template-columns: 1fr 1fr;
  }

  .filter_buttons{
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .buttonFilter{
    margin: 0 2vw;
    padding: 8px 16px;
  }
}

@media only screen and (max-width: 600px){
  .gerechtenlijst {
    grid-template-columns: 1fr;
  }

  .filter_buttons{
    grid-column-start: 1;
    grid-column-end: 2;
  }

  header > h1 {
    top: 10%;
    left: 80%;
    font-size: 150%;
  }

  header > h3 {
    top: 80%;
    left: 80%;
    font-size: 80%;
  }


}
